@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Hebrew');

.menu-bars {
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background-color:#dde7ed;
    height: 100vh;  
    position: fixed;        
    left: -100%;
}

.nav-menu.active {
    left: 0;
}

.nav-text {
    list-style: none;
    padding: 1.0rem;
    border-bottom: 1px solid #ced8de;
}

.nav-text a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'IBM Plex Sans Hebrew', cursive;
}

.nav-text a span:hover {
    color: #a4abb0;
}

.nav-menu-items {
    margin:0;
    padding: 0;
}

.navbar-toggle {   
    display: flex;
}

.toggleButton{
    float: left;
}

.toggleButton.activeB{
    left: 0;    
}

span {
    text-decoration: none;
    color:#595959;
    font-size: 14px;    
}

.nav-menu-sub-item {
    margin-top: 5px;    
    padding: 0;
}

.nav-menu-sub-item li{
    font-family: 'IBM Plex Sans Hebrew', cursive;
    font-size: 14px;
    list-style: none;
    padding: 10px 0px 10px 20px;
}

.nav-menu-sub-item a{
    text-decoration: none;
    color:#595959;
}

.nav-menu-sub-item a:hover{
    color:#757575;
}